<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="3.5.1" targetFramework="net472" />
  <package id="jQuery.UI.Combined" version="1.12.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="3.0.20105.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="1.0.20105.408" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="1.0.20105.408" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="MvcFlashMessages" version="0.3.1" targetFramework="net472" />
</packages>